/*Font _______________________________________________________________________________________________________________________ */

@font-face{
	font-family: 'axis';
	src:url('Axis Extrabold.otf') format('truetype');
}



/* Background image ___________________________________________________________________________________________________________*/

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

html {
  scroll-behavior: smooth;
  background-color: #0a0d16;
  color: white;
}



.bgimg {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))/*, url(imgs/fondlogos.jpg)/*url(imgs/Fond.jpg)*/;
  background: linear-gradient(rgba(19,24,42, 0.9), rgba(10, 13, 22, 0.8));
  min-height: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;


}
.text {
  text-align: center;
  vertical-align: middle;
  font-family: axis;
}

/* Vertical bar menu ___________________________________________________________________________________________________________*/



.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -185px;
  background-color: #0a0d16/*#14192c*/;
  overflow-x: hidden;
  padding-top: 16px;

}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white/*#818181*/;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #ff2370;/*#f1f1f1;*/
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* Bouton menu animated ___________________________________________________________________________________________________________*/

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  margin-left: 0px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}




.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* BOUTON ANIMATION MENU */

.move-left{
  animation-name: bouge_gauche;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes bouge_gauche {
  from {left: 0px;}
  to {left: -185px}
}

.move-right{
  animation-name: bouge_droite;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes bouge_droite {
  from {left: -185px;}
  to {left: 0px}
}

/* HOME presentation */

.presentation {
  display: table;
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background: rgba(10, 13, 22, 0.8);
  height: 80%;
  max-height: 700px;
  width: auto;
  /*text-align: center;*/

}
.presentation:hover {
  background: rgba(10, 13, 22, 0.5);
  border: 2px solid #f20055;

}

.presentation > :first-child {
    display: table-cell;
    vertical-align: middle;
}





/* PRESENTATION A PROPOS DE MOI*/
.aproposdemoi {
  position: relative;



  max-width: 800px;
  padding: 16px;

  margin: auto;

  background: rgba(10, 13, 22, 0.8);
  height: auto;
  width: auto;
}
.aproposdemoi:hover {
  background: rgba(10, 13, 22, 0.5);
  border: 2px solid #f20055;
}







/*A propos de moi presentation*/
.apropos {
  position: absolute;
  right: 2;
  left: 2;
  top: 839px;
  margin: 0px;
  padding: 1px;
  width: 99%;
  color: #fff;

  border: 2px solid #f20055;
  background: rgba(242, 0, 85, 0.1);
  height: auto;
  text-align: center;


}
.apropos:hover {
  background: rgba(242, 0, 85, 0.5);
  border: 2px solid #f20055;

  cursor: pointer;
}

.apropos:active {
  background: rgba(242, 0, 85, 0.5);

}

.apropos2 {
  position: absolute;
  right: 2;
  left: 2;
  top: 1750px;
  margin: 0px;
  padding: 1px;
  width: 99%;
  color: #fff;

  border: 2px solid #f20055;
  background: rgba(242, 0, 85, 0.1);
  height: auto;
  text-align: center;


}
.apropos2:hover {
  background: rgba(242, 0, 85, 0.5);
  border: 2px solid #f20055;

  cursor: pointer;
}

.apropos2:active {
  background: rgba(242, 0, 85, 0.5);

}








.about{
  margin-top: 1000px;
}

.crea{
  margin-top: 500px;
}




.ligne:after {
  content: "";
  display: table;
  clear: both;
}




/* MES CREATIONS TITRE */
.MesCreations {
  position: relative;



  /*max-width: 1200px;*/
  padding: 16px;

  margin: auto;

  background: rgba(10, 13, 22, 0.8);
  height: auto;
  width: auto;
}
.MesCreations:hover {
  background: rgba(10, 13, 22, 0.5);
  border: 2px solid #f20055;
}







.colone1 {
  float: left;
  display: table;
  width: 33%;
  height: 600px;

  vertical-align: top;


  position: relative;
  background: rgba(10, 13, 22, 0.0);

}

.colone1:hover {
  background: rgba(10, 13, 22, 0.5);
  border: 2px solid #f20055;
}


@media screen and (max-width: 600px) {
  .colone1 {
    width: 100%;
  }
}




.lien:link {
  color: white;
}

.lien:hover {
  color: #f20055;
}

.lien:visited {
  color: #f20055;
}



.lien2:link {
  color: white;
}

.lien2:hover {
  color: #f20055;
}

.lien2:visited {
  color: #f20055;
}
