* {
	transition: all 0.5s ease-in-out;
}

#DONLOD :hover{
	cursor: pointer;
	font-size: 105%;
	filter: brightness(1.2);
}


.ImagesDescription img {
	border-radius: 20px;
	border: solid 1px rgba(255, 255, 255, 0);
	box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.2);
}

.ImagesDescription img:hover{
	border-radius: 50px;
	border: solid 1px #fff;
	filter: brightness(120%);
	box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}




.PUBS {

	display: flex;
	
	display: none;	

	align-content: space-between;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
	background-color: #282828
}

.PetitePub {
	border: solid 2px grey;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	display: flex;
	cursor: pointer;

	margin: 5px 5px;
}

.carteInutile {
	width: 280px;
	height: 180px;

	background-image: url('./Images/Pubs/swile.png');
}

.vacheKiri {
	width: 180px;
	height: 180px;

	background-image: url('./Images/Pubs/Kiri.jpg');
}

.pub1 {
	width: 180px;
	height: 180px;

	background-image: url('./Images/Pubs/Pub.png');
}

.pub2 {
	width: 180px;
	height: 180px;

	background-image: url('./Images/Pubs/Pub2.png');
}

.evlan {
	width: 260px;
	height: 180px;

	background-image: url('./Images/Pubs/Evlan.jpg');
}

.evier {
	width: 235px;
	height: 180px;

	background-image: url('./Images/Pubs/Evier.jpg');
}

.caprice {
	width: 267px;
	height: 180px;

	background-image: url('./Images/Pubs/CapriceDesVieux.jpg');
}

.botte {
	width: 130px;
	height: 180px;

	background-image: url('./Images/Pubs/Botte.jpg');
}



.PetitePub img{
	width: 7px;
	justify-self: right;
	object-fit: contain;
	align-self: flex-start;
	transform: translateX(-25%) translateY(-25%);
}

.PetitePub img:hover{
	cursor: pointer;
	transform: scale(1.1) translateX(-25%) translateY(-25%);
}