@font-face {
  src: url('./font/Montserrat-Medium.otf');
  font-family: 'Montserrat';
  font-style: normal;

}

@font-face {
  src: url('./font/Montserrat-Light.otf');
  font-family: 'Montserrat-Light';
  font-style: normal;

}

@font-face {
  src: url('./font/sofiapro-light.otf');
  font-family: 'SofiaPro';
  font-style: normal;

}

@font-face {
  src: url('./font/Newake-Font-Demo.otf');
  font-family: 'Newake';
  font-style: normal;

}


body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'SofiaPro';

}



a:link {
  color: white;

}

a:visited {
  color: white;

}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}




.background-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  background-image: url('./Images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 0.25s linear;

}

.background-image-blur {
  transition: all 0.25s linear;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  background-image: url('./Images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  filter: blur(5px) brightness(70%);
}





.wrapper {
  z-index: 2;
	padding-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}



.divider {
	position: relative;
	margin-top: 40px;
  margin-bottom: 40px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 15%;
	right: 15%;
	width: 70%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(72, 60, 97), transparent);
}




.GrandTitre {
  margin-top: 4%;
  text-align: left;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 38px;
}

.MoyenTitre {
  margin-top: 4%;
  text-align: left;
  font-size: 20px;
  font-family: 'Montserrat-Light';
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}






.column1 {
  float: left;
  width: 28%;
  font-size: 17px;

}
.column2 {
  float: right;
  width: 68%;
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Newake';
  letter-spacing: 20px;
  border: 0px solid;
  line-height: 140%;
  text-align: right;

}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
  text-shadow: 4px 4px 0px #fa194e;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* ---- Parties ---- */

.TitresParties:after {
  content: "";
  display: table;
  clear: both;

}



.TitresParties .Image {
  float: left;
  margin: 0 30px;


  transition: all 0.1s linear;
  display: block;
  height: 92px;
  width: 161px;
  border-radius: 8px;
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);

}

.TitresParties .Image div b{
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

.TitresParties .Image div{
  box-shadow: inset -2px 2px 5px rgba(0,0,0,0.2);
  position: relative;
}


/* --------- 3D --------- */

.TitresParties #Titre3DPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: rgba(199, 37, 49, 0.38);
}


.TitresParties #Titre3DPart div{
  transition: all 0.1s linear;
  background-color: rgba(199, 37, 49, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

/* --------- Dessin --------- */

.TitresParties #TitreDessinPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: rgba(250, 119, 50, 0.38);
}


.TitresParties #TitreDessinPart div{
  transition: all 0.1s linear;
  background-color: rgba(250, 119, 50, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

/* --------- Python --------- */

.TitresParties #TitrePythonPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: rgba(65, 36, 163, 0.38);
}


.TitresParties #TitrePythonPart div{
  transition: all 0.1s linear;
  background-color: rgba(65, 36, 163, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

/* --------- HtmlCss --------- */

.TitresParties #TitreHtmlCssPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: rgba(57, 121, 231, 0.38);
}


.TitresParties #TitreHtmlCssPart div{
  transition: all 0.1s linear;
  background-color: rgba(57, 121, 231, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}

/* --------- C# --------- */

.TitresParties #TitreCsPart div:hover{
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: rgba(128, 192, 238, 0.38);
}


.TitresParties #TitreCsPart div{
  transition: all 0.1s linear;
  background-color: rgba(128, 192, 238, 0.3);
  height: 92px;
  width: 161px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 20px;
}



#CodePythonPart {
  display: block;
}
#CodeHtmlPart {
  display: none;
}
#CodeCsPart {
  display: none;
}
#Design3DPart {
  display: none;
}
#Design2DPart {
  display: none;
}


/* --------------------------- Design : 3D Part --------------------------- */

#Design3DPart {
  display: none;
}

#Design3DPart #Ligne-1 {
  display: block;
}
#Design3DPart #Ligne-2 {
  display: none;
}


#Design3DPart .Image {
  transition: all 0.1s linear;
  display:block;
  height: 226px;
  width: 161px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;

  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px), 0% 20px);
}

#Design3DPart .Image img{

  height: 226px;
  width: 161px;
  object-fit: cover;
  border-radius: 5%;

}




#Design3DPart .colonne {
  float: left;
  width: 16%;
  font-size: 17px;
  top: -50px;
}




#Design3DPart .Butt {
  position: relative;
  width: 35px;
  height: 226px;
  opacity: 0.5;
  transition: all 0.1s linear;
}



#Design3DPart .Butt:hover{
  transition: all 0.1s linear;
  opacity: 1;
}


#Design3DPart .Butt div {
  font-size: 40px;
  margin-top: 240%;
  color: #8b8b8d;

}

#Design3DPart .Butt:hover {
  cursor: pointer;
}



#Design3DPart .Element {
  height: 226px;
  width: 161px;
  position: relative;
  margin-left:0.5%;
  margin-right: 0.5%;

}


#Design3DPart .Titre-Image {
  pointer-events: none;
  transition: all 0.1s linear;
  position: absolute;
  text-align: left;
  font-style: italic;
  font-weight: 900;
  margin-left: 5px;
  top: 70%;
  visibility: hidden;
  opacity: 0;
  text-shadow: 0px 1px 1px black;

}

#Design3DPart .Image:hover + .Titre-Image{
  transition: all 0.1s linear;
  visibility: visible;
  opacity: 1;
}


#Design3DPart .Image:hover {
  transition: all 0.1s linear;
  filter: blur(1px) brightness(90%);
  border-radius: 5%;
  transform: scale(1.02);
  cursor: pointer;
}

#Design3DPart .date {
  pointer-events: none;
  position: absolute;
  top: 89%;
  text-align: left;
  left: 5px;
  background-color: #fa194e;
  font-style: italic;
  font-weight: 900;
  font-size: 12px;
  padding: 2% 4%;
  border-radius: 5%;

}


#Design3DPart .Image-Fond {
  position: relative;
  width: 1160px;
  height: 426px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

}


#Design3DPart .colonne-Image {

  float: left;
  width: 40%;
  margin-left: 40px;
  margin-top: 40px;

}


.Octane {
  background-image: url('./Images/3D/la_octane.png');
  border-radius: 10px;
  width:514px;
  height:290px;
  background-size: cover;
  transition: all 0.2s linear;
}

.Octane:hover{
  transition: all 0.2s linear;
  background-image: url("./Images/3D/Octane_wire.jpeg")
}
